@font-face {
    font-family:'abcdefg';
    src: url('http://p2xzgvk13.bkt.clouddn.com/din.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* @import url('https://fonts.googleapis.com/css?family=Hanalei+Fill'); */